html {
    font-size: 100%;
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    touch-action: manipulation;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-x: hidden;
    color: #333;
}

b {
    font-weight: 700;
}

p {
    line-height: 1.7;
    font-size: 1.05em;
    font-weight: 400;
    color: #555;
}

a, button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    line-height: 1.3;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

h1 {
    font-size: 7.5em;
    line-height: 1.4;
}

h2 {
    font-size: 4em;
    line-height: 1.4;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: .95em;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: inherit;
}

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button {
    margin: 0;
    padding: 0;
}

h1, h2, h3, .font-beyond {
    font-family: 'beyond_the_mountainsregular', sans-serif;
}

a:focus, a:active, a:hover, button:focus, button:active, button:hover, a b.light-color:hover {
    text-decoration: none;
    color: #EF0031;
}

li {
    list-style: none;
    display: inline-block;
    line-height: 1.6;
    font-size: .9em;
}

img {
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    padding: 25px 0;
    font-weight: 600;
    color: #fff;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
    opacity: .6;
}

header:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background: url(../image/triangle_bg_black.png) repeat-x;
    background-size: 26px 10px;
    opacity: .6;
    clear: both;
}

header .logo {
    float: left;
    height: 70px;
}

header .logo img {
    height: 100%;
    width: auto;
}

header .right-area {
    float: right;
    height: 100%;
    height: 70px;
    padding: 10px 0;
    position: relative;
    font-size: 1.2em;
}

header ul.main-menu > li > a {
    height: 100%;
    line-height: 70px;
    padding: 0px 15px;
}

header .main-menu {
    font-size: 1.1em;
}

.nav-btn {
    text-align: center;
    height: 55px;
    line-height: 53px;
    border: 1px solid #EF0031;
    background: #EF0031;
    border-radius: 2px;
    color: #FFFFFF;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-btn:hover {
    background: none;
    color: #FFFFFF;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding: 100px 0 70px;
}

.header {
    position: relative;
    z-index: 1;
    height: 900px !important;
    background: url(../image/slider_1_1920_1200.jpg) no-repeat center;
    background-size: cover;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.4);
}

.header .tb{
    display: table;
    height: 100%;
    width: 100%;
}

.header .tb .cell{
    display: table-cell;
    vertical-align: middle;
    color: #fff !important;
    text-align: center!important;
}

.header .tb .cell h1{
    margin-top: 30px !important;
    margin-bottom: 15px !important;
    font-family: 'beyond_the_mountainsregular', sans-serif;
}

.button-p {
    padding-left: 25px !important;
    padding-right: 25px !important;
    position: relative;
    text-align: center;
    height: 55px;
    line-height: 50px;
    background: #EF0031;
    color: #fff;
    border-radius: 3px;
    z-index: 1;
}

.button-p:hover {
    color: #111;
}

.button-p:hover:before {
    height: 100%;
    border: 1px solid #1F8330;
}

.button-p:before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background: #FFFFFF;
    z-index: -1;
    -webkit-transition: all .1s .2s ease-in;
    transition: all .1s ease-in;
}

.button-p:hover:after {
    height: 100%;
}

.button-p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #1F8330;
    z-index: -2;
    -webkit-transition: all .1s ease-in;
    transition: all .1s .1s ease-in;
}

.triangle-up{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.triangle-up:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(../image/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
}


.triangle-bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.triangle-bottom:after {
    content: '';
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: url(../image/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.area{
    text-align: left !important;
    position: relative;
    z-index: 1;
    background: #fff;
}

.tbl{
    width: 20% !important;
    background: url(../image/bg1.png) no-repeat center;
    background-size: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.tbr{
    width: 20% !important;
    background: url(../image/bg2.png) no-repeat center;
    background-size: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.heading{
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.heading img {
    height: auto;
    width: 40px;
    margin-bottom: 20px;
}

.color-white { 
    color: #fff !important;
}

.color-black {
    color: #111;
}

.bg1 {
    background: url(../image/bg3.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.bg1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.85);
}

.pizza-card{
    margin-bottom: 30px !important;

}

.pizza-card .pizza-icon{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
}

.pizza-alert-cont{
    display: inline-block;
    padding: 0px 30px 0px 20px;
    position: absolute;
    top: 35%;
    left: 4px;
    z-index: 1;
    line-height: 30px;
    font-size: 1.07em;
}

.pizza-alert.primary {
    border-color: #F1002A;
    border-right-color: transparent;
}

.pizza-alert.secondary {
    border-color: #1F8330;
    border-right-color: transparent;
}

.pizza-alert.white {
    border-color: #ffffff;
    border-right-color: transparent;
}

.pizza-alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 15px solid #F1002A;
    border-left: 0;
    border-right: 15px solid transparent;
    width: 100%;
}

.pizza-card h5{
    margin-top: 20px;
}

.pizza-card h4{
    margin-top: 5px;
}

.pizza-card h6{
    margin-top: 20px
}

.pizza-card h6 a{
    text-align: center;
    height: 45px;
    line-height: 43px;
    border: 1px solid #EF0031;
    color: #EF0031;
    border-radius: 2px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.pizza-card h6 a:hover {
    background: #EF0031;
    color: #FFFFFF;
}

.pizza-view{
    height: 440px;
}

.pizza-view img {
    position: absolute;
    width: 430px;
    margin: 0px 0 0 0px;
}

.pizza-view img.pizza-ingridient {
    width: 330px;
    margin: 42px 0 0 42px;
}

#americano {
    float: left;
    width: 80px;
    height: 52px;
    opacity: 0.4;
    background-image: url(../image/constructor/item-americano.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    margin: 5px 0 0 10px;
}


#italano {
    float: left;
    width: 80px;
    height: 52px;
    opacity: 0.4;
    background-image: url(../image/constructor/item-italano.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    margin: 5px 0 0 10px;
}

#hotdog {
    float: left;
    width: 80px;
    height: 52px;
    opacity: 0.4;
    background-image: url(../image/constructor/hotdog.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    margin: 5px 0 0 10px;
}

#americano.cheked, #italano.cheked, #hotdog.cheked {
    opacity: 1;
}

#americano:hover, #italano:hover, #hotdog:hover {
    cursor: pointer;
}

.pizza-config{
    margin-top: 90px;
}

.pizza-config .row{
    margin-bottom: 30px;
}

#pizza-size-large {
    float: left;
    width: 80px;
    height: 65px;
    background-image: url(../image/constructor/pizza-size-large.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
}

#pizza-size-large.cheked {
    background-position: 50% -65px;
}

#pizza-size-mid {
    float: left;
    width: 80px;
    height: 56px;
    background-image: url(../image/constructor/pizza-size-mid.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    margin: 5px 0 0 10px;
}

#pizza-size-mid.cheked {
    background-position: 50% -56px;
}

#pizza-size-small {
    float: left;
    width: 80px;
    height: 47px;
    background-image: url(../image/constructor/pizza-size-small.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    margin: 10px 0 0 0px;
}

#pizza-size-small.cheked {
    background-position: 50% -47px;
}

#pizza-size-small:hover, #pizza-size-mid:hover, #pizza-size-large:hover, 
#seaIngredients:hover, #meatIngredients:hover, #vegIngredients:hover, 
#cheeseIngredients:hover, #refuelIngredients:hover {
    cursor: pointer;
}

#ingredientsType {
    width: 100%;
    margin-top: 15px;
    height: 60px;
}

#seaIngredients {
    background-position: -99px 0px;
}

.active#seaIngredients {
    background-position: -99px -41px;
}

#meatIngredients {
    background-position: -49px 0px;
}

.active#meatIngredients {
    background-position: -49px -41px;
}

.active#vegIngredients {
    background-position: -247px -41px;
}

#vegIngredients {
    background-position: -247px 0px;
}

.active#cheeseIngredients {
    background-position: -196px -41px;
}
#cheeseIngredients {
    background-position: -196px 0px;
}

#refuelIngredients {
    background-position: -344px 0px;
}

.active#refuelIngredients {
    background-position: -344px -41px;
}

#seaIngredients, #meatIngredients, #vegIngredients, #cheeseIngredients, #refuelIngredients {
    width: 40px;
    height: 40px;
    background-image: url(../image/constructor/types.png);
    background-repeat: no-repeat;
    float: left;
    margin: 5px 25px 5px 12px;
}

.disabledType {
    display: none;
}

.ingridient {
    float: left;
    position: relative;
    width: 87px;
    height: 100px;
    margin: 5px 0px 5px 10px;
    cursor: pointer;
}

.img-ingridient{
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 50% 0px;
}

.ingridient p {
    font-family: Arial;
    font-size: 11px;
    text-align: center;
}

.weight-ingridient {
    float: left;
    width: 50%;
}

.weight-ingridient p{
    color: #939393;
}

.price-ingridient {
    float: left;
    width: 50%;
}

.price-ingridient p{
    color: #f10129;
}

.minusQuantity {
    width: 14px;
    height: 14px;
    border: 1px solid red;
    border-radius: 7px;
    position: absolute;
    top: 48px;
    left: 79px;
    right: 0px;
    bottom: 0px;
}

.minusQuantity div {
    width: 4px;
    height: 2px;
    background-color: red;
    margin: 40% 36%;
}

.amountOfPortions {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    background: linear-gradient(red, #cb0517);
    border-radius: 14px;
    position: absolute;
    top: 0px;
    left: 60px;
    right: 0px;
    bottom: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.amountOfPortions div {
    font-family: Arial;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 4% auto;
}

.ingridient.left {
    width: 98px;
}

#allAmounts{
    width: 100%;
    float: left;
    border-top: 1px solid #dedede;
    height: 60px;
}

#allAmounts #reset {
    float: left;
    margin: 20px 25px 5px 12px;
    text-decoration: underline;
    font-weight: bold;
    color: #777;
    cursor: pointer;
}

#allAmounts #addToCart {
    float: right;
    width: 180px;
    height: 50px;
    border: 1px solid #EF0031;
    border-radius: 2px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 5px 25px 5px 12px;
    font-size: 25px;
    color: #EF0031;
    text-align: center;
    cursor: pointer;
}

#allAmounts #addToCart p {
    margin: 1px 0px 0px 0px;
    color: #EF0031;
}

#allAmounts #addToCart:hover {
    background: #EF0031;
    color: #FFFFFF;
}

#allAmounts #addToCart:hover p {
    color: #FFFFFF;
}

#allAmounts #amounts {
    margin: 8px 0 5px 0px;
    font-size: 25px;
    font-weight: bold;
}